@import "../../../style/template.scss";
@import "../../../style/vars.scss";

.reset__container {
  width: 100vw;
  height: 100vh;
  background: $blackcolor;
  background-image: url('../../../assets/background__resetpass.png');
  background-size: cover;

  a {
    outline: none;
    text-decoration-line: none;
  }

  p {
    margin: 0;
  }
  
  .form {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @extend %flex__center;
  }
  
  .header {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    color: $pinkcolor;
  }

  .input {
    display: block;
    padding: 17px 0 17px 20px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: $graycolor;
    font-size: 20px;
    color:$whitecolor;
  }

  .input::placeholder{
    color: rgb(0, 0, 0, 0.25);
  }

  .button__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    min-height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: $whitecolor;
    background: $pinkcolor;
  }

  .button__submit:active{
    transition: 0.3s all;
    transform: translateY(3px);
    opacity: 0.8;
  }

  .button__disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    min-height: 56px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: $whitecolor;
    background-color: $pinkcolor;
    opacity: 50%;
  }

  .button__back{
    @extend %button__text;
    width: 30%;
    margin-top: 22px;
  }

  .button__sighnin{
    @extend %button__text;
    margin-top: 50%;
  }

  .hidden {
    display: none;
  }
  
  .message {
    @extend %button__text;
    margin-top: 22px;
  }

  .message__error{
    @extend %button__text;
    width: 26%;
    margin-top: 22px;
    color:red;
  }

}

@media (min-width: 1024px) and (max-width:1240px) {
  .reset__container {
  
    .input {
      width: 38%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .button__submit {
      margin-left: 0;
      margin-right: 0;
      width: 40%;
      }
  
    .button__disabled {
      margin-left: 0;
      margin-right: 0;
      width: 40%;
    }
  
    .message {
      width: 40%;
      margin-top: 16px;
      text-align: center;
    }
  
    .message__error{
      width: 40%;
      text-align: center;
    }
  
  }
}

@media (min-width: 768px) and (max-width:1240px) {
  .reset__container {
  
    .input {
      width: 45%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .button__submit {
      margin-left: 0;
      margin-right: 0;
      width: 47%;
      }
  
    .button__disabled {
      margin-left: 0;
      margin-right: 0;
      width: 47%;
    }
  
    .message {
      width: 47%;
      margin-top: 16px;
      text-align: center;
    }
  
    .message__error{
      width: 47%;
      text-align: center;
    }
  
  }
}

@media (min-width: 435px) and (max-width:768px) {
  .reset__container {

    .header {
      font-size: 26px;
      font-weight: 400;
    }
  
    .input {
      width: 48%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .input::placeholder {
      font-size: 16px;
    }
  
    .button__submit {
      margin-left: 0;
      margin-right: 0;
      width: 50%;
      font-size: 16px;
      }
  
    .button__disabled {
      margin-left: 0;
      margin-right: 0;
      width: 50%;
      font-size: 16px;
    }

    .button__back{
      font-size: 16px;
    }
  
    .message {
      width: 50%;
      margin-top: 16px;
      text-align: center;
      font-size: 16px;
    }
  
    .message__error{
      width: 50%;
      text-align: center;
      font-size: 16px;
    }
  
  }
}

@media (max-width: 435px) {
  .reset__container {

    .header {
      font-size: 26px;
      font-weight: 400;
    }
  
    .input {
      width: 66%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .input::placeholder{
      font-size: 16px;
    }
  
    .button__submit {
      margin-left: 0;
      margin-right: 0;
      width: 70%;
      font-size: 16px;
      }
  
    .button__disabled {
      margin-left: 0;
      margin-right: 0;
      width: 70%;
      font-size: 16px;
    }

    .button__back{
      font-size: 16px;
    }
  
    .message {
      width: 70%;
      margin-top: 16px;
      text-align: center;
      font-size: 16px;
    }
  
    .message__error{
      width: 70%;
      text-align: center;
      font-size: 16px;
    }
  
  }
}