@import "../../../style/template.scss";

// pinkcolor: EA5D80;
//whitecolor: FFFFFF;
//blackcolor: 1B1C20;
//graycolor: 777777;

.reset__container {
  width: 100vw;
  height: 100vh;
  background: #1B1C20;
  background-image: url('../../../assets/background__1.png');
  background-size: cover;

  a {
    outline: none;
    text-decoration-line: none;
  }

  p {
    margin: 0;
  }
  
  .form {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #EA5D80;
  }

  .input {
    display: block;
    padding: 17px 0 17px 20px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: none;
    border-radius: 20px;
    background-color: #777777;
    font-size: 1.25rem;
    color:#FFFFFF;
  }

  .input::placeholder{
    color: rgb(0, 0, 0, 0.25);
  }

  .button__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    min-height: 3.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #EA5D80;
  }

  .button__disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    min-height: 3.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #EA5D80;
    opacity: 50%;
  }

  .button__back{
    @extend %button__text;
    width: 30%;
    margin-top: 22px;
  }

  .button__sighnin{
    @extend %button__text;
    width: 30%;
    margin-top: 11%;
  }

  .hidden {
    display: none;
  }

  .false__email{
    display: block;
  }

  .message__error{
    @extend %button__text;
    width: 26%;
    margin-top: 22px;
  }

}