.theme__wrapper {
  height: 100%;
  width: 100%;
  padding: 16px;
  margin-left: auto;
  overflow-y: scroll;
}
.theme__wrapper::-webkit-scrollbar {
  width: 15px;
  background: linear-gradient(90deg, rgb(228, 226, 226) 0%, rgb(251, 250, 250) 100%);
}
.theme__wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(234, 93, 128) 0%, rgb(207, 71, 105) 100%);
  cursor: pointer;
}

.theme {
  display: flex;
  flex-direction: column;
}

.theme__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: #ea5d80 solid 1px;
}
.theme__item_link {
  color: #1b1c20;
  padding-left: 8px;
  font-size: 20px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.theme__item_link.active {
  color: yellow;
}
.theme__item_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff47;
  border-radius: 50%;
  padding: 18px;
}
.theme__item_div img {
  width: 24px;
}

.mobile__open_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 8px;
  cursor: pointer;
  color: #ffffff;
  background: #ea5d80;
  border: none;
  border-radius: 50px;
  padding: 4px 12px;
}
.mobile__open_btn img {
  width: 16px;
}
.mobile__open_btn:hover {
  background: #777777;
}

.mobile__close_btn {
  background-color: transparent;
  border: #ea5d80 1px solid;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -15%;
}
.mobile__close_btn img {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__container {
  position: relative;
}

.mobile__t_wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  transform: translateX(-100%);
  transition: 3ms;
}
.mobile__t_wrapper__active {
  transform: translateX(0%);
}

@media screen and (max-width: 950px) {
  .theme__wrapper {
    overflow-y: auto;
    margin-top: 16px;
    font-size: 8px;
  }
  .theme__wrapper::-webkit-scrollbar {
    width: 10px;
    border-radius: 0 10px 10px 0;
  }
  .theme__wrapper::-webkit-scrollbar-thumb {
    border-radius: 0 10px 10px 0;
  }
  .theme__item_link {
    font-size: 10px;
  }
}