.theme__wrapper {
  height: 100%;
  background-color: #444242;
  padding: 1rem;
  margin-left: auto;
  border-radius: 1.25rem 0 0 1.25rem;
  overflow-y: scroll;
}
.theme__wrapper::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #f9f9fd;
}
.theme__wrapper::-webkit-scrollbar-thumb {
  background-color: #777777;
  cursor: pointer;
}

.theme {
  display: flex;
  flex-direction: column;
}

.theme__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: grey solid 1px;
}
.theme__item_link {
  padding-left: 0.5rem;
  font-size: 1.125rem;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.theme__item_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff47;
  border-radius: 50%;
  padding: 0.125rem;
}
.theme__item_div img {
  width: 1.5rem;
}