@import "../../style/vars.scss";
@import "../../style/template.scss";

.theme__wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  margin-left: auto;
  overflow-y: scroll;
  transition: width 0.5s ease;
  overflow-x: hidden;
  border-radius: 20px 0 0 20px;
  background-color: $whitecolor;
  max-height: 100vh;

  &__hidden {
    width: 0%;
    max-height: 100vh;
    overflow-y: hidden;
  }

  &::-webkit-scrollbar {
    width: 15px;
    background: $scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    cursor: pointer;
  }
}

.theme {
  display: flex;
  flex-direction: column;
}

.theme__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: $pinkcolor solid 1px;

  &_link {
    color: $blackcolor;
    padding-left: 8px;
    font-size: 20px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;

    &.active {
      color: $pink-color;
    }
  }

  &_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
    border-radius: 50%;
    padding: 18px;

    & img {
      width: 24px;
    }
  }
}

.mobile__open_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 8px;
  cursor: pointer;
  color: $whitecolor;
  background: $pinkcolor;
  border: none;
  border-radius: 50px;
  padding: 4px 12px;

  & img {
    width: 16px;
  }

  &:hover {
    background: $grey;
  }
}

.mobile__close_btn {
  background-color: transparent;
  border: $pinkcolor 1px solid;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -20%;

  & img {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile__container {
  position: relative;
}
.mobile__wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  transform: translateX(-100%);
  transition: 3ms;

  &__active {
    transform: translateX(0%);
  }
}

.desktop__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.desktop__hide_btn {
  position: absolute;
  right: -35px;
  top: 10%;
  height: 50px;
  width: 35px;
  z-index: 1;
  background-color: $whitecolor;
  border: 1px solid $pinkcolor;
  border-radius: 0 10px 10px 0;
  border-left: none;
  cursor: pointer;
}

.unhidden-img {
  transform: rotate(180deg);
}

@media screen and (max-width: 950px) {
  .theme__wrapper {
    overflow-y: auto;
    margin-top: 16px;
    font-size: 8px;
    border-radius: 10px;
    background-color: white;
    max-height: 20vh;

    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 0 10px 10px 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0 10px 10px 0;
    }
  }
  .theme__item_link {
    font-size: 10px;
  }
}
