.testResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testResults__container {
  width: 876px;
  height: 692px;
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 7px 21px 49px 0px rgba(158, 158, 158, 0.1019607843);
  padding: 123px 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.testResults__catImg {
  align-self: end;
}
.testResults__info {
  padding-right: 80px;
  display: grid;
  grid-template-rows: 1.5fr 3.7fr 5fr;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  justify-items: center;
}
.testResults__info-nums {
  font-size: 20px;
  font-weight: 500;
  color: #ea5d80;
}
.testResults__info-text {
  text-align: center;
}
.testResults__info-btns {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.testResults__info-btns button {
  cursor: pointer;
  color: #ffffff;
  background: #ea5d80;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  text-decoration: none;
  width: 364px;
  height: 60px;
}
.testResults__info-btns button:first-child {
  background: #6ad9a3;
}
.testResults__info-btns button:hover {
  background: #777777;
}