@import "../../style/vars.scss";

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Занимает всю высоту экрана */
    background-color: $background-general;
  }
  
  .spinner__circle {
    border: 10px solid $ligth-grey; 
    border-top: 10px solid $pink-color; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  