@import "../../style/vars.scss";

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: $background-general;
  }
  
  .spinner__circle {
    border: 5px solid $ligth-grey; 
    border-top: 5px solid $pink-color; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  