@import "../../style/vars.scss";
@import "../../style/template.scss";

.theory__container {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $whitecolor;
  gap: 35px;
  align-items: center;
  position: relative;
  box-shadow: $inner-boxshadow;

  max-height: 100vh;
  width: 100%;
  height: 100%;
  margin-left: auto;
  overflow-y: scroll;
  transition: width 0.5s ease;
  background-color: $whitecolor;

  &::-webkit-scrollbar {
    width: 15px;
    background: $scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    cursor: pointer;
  }

  .theory__inner {
    width: 80%;
  }

  .theory {
    &__nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      background-color: $whitecolor;
    }

    &__nav {
      position: sticky;
      bottom: 0;
      padding-top: 10px;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;
      color: $whitecolor;
      background: $pinkcolor;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      padding: 4px 24px;
      min-width: 200px;
      text-decoration: none;

      &:hover {
        background: $grey;
      }

      &.disabled {
        cursor: unset;
        background: rgba($color: $pinkcolor, $alpha: 0.7);
      }
    }
  }

  .bg-image__cat {
    width: 100%;
  }
  .bg-image__star {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.nav__next_progress {
  display: flex;
  flex-direction: column;

  &__value {
    align-self: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 950px) {
  .theory__container {
    background-color: transparent;
    margin-top: 30px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    overflow-y: visible;
    max-height: 100%;

    .theory__nav {
      background-color: transparent;
      position: relative;
    }

    .theory__button {
      font-size: 8px;
      padding: 4px 12px;
      min-width: 110px;
      margin: 0 20px;

      & img {
        width: 16px;
      }
    }
    .bg-image__cat,
    .bg-image__star {
      display: none;
    }
  }
}

.theory {
  &__title {
    margin-top: 2%;
    margin-bottom: 1.5%;
    font-size: 20px;
    color: $pink-color;
  }

  &__article {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__answer,
  &__example {
    white-space: pre-wrap;
    font-size: 16px;
  }

  &__theme {
    display: inline-block;
    margin-bottom: 1.5%;
    padding: 6px 8px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 20;
    color: $blackcolor;
    background-color: $color-green;
  }

  &__picture {
    max-width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  &__example {
    margin-top: 3%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: $ligth-grey;
  }
}

.picture_item {
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
