.videoPage {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4vh 10vw 4vh 54px;
  gap: 30px;
}
.videoPage__mainlink {
  font-size: 32px;
  color: #ea5d80;
  text-decoration: none;
}
.videoPage__titlespan {
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}
.videoPage__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}