.videoPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4vh 10vw 4vh 10vw;
}
.videoPage__mainlink {
  color: #ea5d80;
  font-size: 1rem;
}
.videoPage__main, .videoPage__main__modified {
  display: grid;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 30px 50px 100px rgba(158, 158, 158, 0.25);
}
.videoPage__main {
  grid-template-columns: 30% 1fr;
  transition: grid-template-columns 0.5s ease;
}
.videoPage__main .video__container {
  border-radius: 0 20px 20px 0;
}
.videoPage__main__modified {
  grid-template-columns: 0 1fr;
  transition: grid-template-columns 0.5s ease;
}
.videoPage__main__modified .video__container {
  border-radius: 20px;
}

@media screen and (max-width: 950px) {
  .videoPage__main {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    min-height: auto;
  }
}