@import "../../../style/template.scss";
@import "../../../style/vars.scss";

.videoPage {
  @include container;

  gap: 30px;

  &__mainlink {
    @include stageSubTitlePink;
  }

  &__titlespan {
    @include stageSubTitleWhite;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.video__container {
  border-radius: 0 20px 20px 0;
  background-color: $theme-nav-bar-color;
}
.theme__wrapper {
  border-radius: 20px 0 0 20px;
  background-color: $theme-nav-bar-color;
}

@media screen and (max-width: 950px) {
  .videoPage__main {
    display: flex;
    flex-direction: column;
  }
  .video__container,
  .theme__wrapper {
    background-color: transparent;
  }
}
