@import "../../style/template.scss";
@import "../../style/vars.scss";
@import "../../index.scss";

.trainer__solution {
    display: flex;
    align-items: start;
    background-color: $white-color;
    border-radius: 60px;
    height: 34.5vh;
    color: $color-blacktext;
    padding: 20px 40px 0;

}