@import "../../style/template.scss";
@import "../../style/vars.scss";
@import "../../index.scss";

.grading__codetasks {
  font-family: $font;
  color: $white-color;
  padding: 4vh 4.5vw;

  .graiding__name {
    font-size: 16px;
    color: $pinkcolor;
  }
}

.codetrainer {
  padding-top: 24px;
}

