@import "../../style/template.scss";
@import "../../style/vars.scss";
@import "../../index.scss";

.trainer__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
  height: 50vh;
  justify-items: end;

  .trainer__check {
    grid-column: 2 span;
  }
}

.codetrainer__button-check {
  font-size: 16px;
  background-color: $color-grey-button;
  color: $pinkcolor;
  border: 1px solid $grey;
  padding: 6px 40px;
  border-radius: 50px;
  grid-column: 1/2;
}

.trainer__question {
  background-color: $color_trainer;
  border-radius: 10px;
  overflow-x: auto;
  overflow-anchor: none;
  padding: 22px;
  grid-row: 2 span;

  .trainer__name {
    font-size: 22px;
    color: $pink-color;
    font-weight: 400;
  }

  .trainer__theme {
    margin-top: 16px;
    color: $color_trainer;
    background-color: $color-green;
    width: 112px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
  }

  .task__text {
    padding-top: 16px;
  }
  .task__example {
    padding-top: 16px;
    font-weight: 600;
  }

  .task__answer {
    margin-top: 16px;
    padding: 16px;
    background-color: $color-grade;
    border-radius: 20px;
    width: 40wv;
    white-space: pre-line;
  }

  .hint__text {
    width: 45vw;
  }
}

.cm-theme {
  font-size: 16px;
  border-radius: 10px;
}

.cm-editor,
.cm-scroller {
  border-radius: 10px;
}

pre {
  font-family: $font !important;
}

.codetaining__console {
  background-color: $color-grade;
  border-radius: 20px;
}

.codetaining__buttom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-top: 19px;

  .codetrainer__button {
    justify-self: end;
  }

  .codetrainer__buttons {
    @include flex__center;
    justify-content: space-between;
  }
}

.codetrainer__pink {
    font-size: 16px;
    background-color: $pinkcolor;
    color: $white-color;
    @include flex__center;
    border: none;
    gap: 8px;
    padding: 6px 40px;
    border-radius: 50px;
 }
