@import "../../style/template.scss";
@import "../../style/vars.scss";
@import "../../index.scss";

.trainer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  .trainer__left-content {
    display: grid;
    grid-template-rows: 30vh 34.5vh;
    gap: 15px;
  }

  .trainer__rigth-content {
    display: grid;
    grid-template-rows: 0 42vh 22vh;
  }
}


