@import '../../style/vars.scss';
@import '../../style/template.scss';

.autotests{
  &__title{
    font-family: $font;
    // font-size: 16px;
    // font-weight: 500;
    color: $pink-color;
    cursor: pointer;
    }

  }
