.slider {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}
.slider__cardContainer {
  width: 876px;
  height: 680px;
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 7px 21px 49px 0px rgba(158, 158, 158, 0.1019607843);
  padding: 100px 113px 40px;
  display: grid;
  grid-template-rows: 1fr min-content;
}
.slider__buttons {
  justify-self: center;
}
.slider__button {
  cursor: pointer;
  color: #ffffff;
  background: #ea5d80;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  min-width: 200px;
  text-decoration: none;
  width: 442px;
  height: 60px;
}
.slider__button:hover {
  background: #777777;
}
.slider__button:disabled {
  cursor: unset;
  background: rgba(234, 93, 128, 0.7);
}

.catImg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.catImg img {
  width: 18vw;
}

@media ((max-width: 1025px)) {
  .slider__cardContainer {
    width: 600px;
    padding: 70px 80px 40px;
    gap: 40px;
  }
  .slider__button {
    width: 350px;
    height: 50px;
  }
  .catImg {
    display: none;
  }
}
@media ((max-width: 670px)) {
  .slider__cardContainer {
    width: 90%;
    height: unset;
    padding: 40px;
    gap: 30px;
  }
  .slider__button {
    width: 200px;
  }
}
@media ((max-width: 431px)) {
  .slider__cardContainer {
    width: 100%;
    padding: 30px 20px;
  }
  .slider__button {
    width: 170px;
    height: 40px;
  }
}