@import "../../style/vars.scss";
@import '../../style/mixins.scss';



.container__profile {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    // height: 821px;
    margin: 50px;
}

.profile__nav {
    @include container;
    &-avatar {
        text-align: center;
    }
    & img {
        margin-bottom: 20px;
    }
}

.profile__user {
    @include container;
    height: 80%;

}


h2 {
    @include font(48px);
    color: $mainColor;
}