@import "../../style/template.scss";
@import "../../style/vars.scss";


.sidebar-profile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    

    .header-container {
        display: flex;
        align-items: center;
        width: 100%; 
        margin-bottom: 20px;
    }
    .header-container::after {
        content: "";
        background-image: url("../../assets/images/rose_for_welcome.png");
        display: inline-block;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        position: relative;
        top: -2vh;
      }

    .avatar-container {
        position: relative;
        display: flex; 
        align-items: center;
        margin-right: 10px; 

        .edit-icon {
            color: $pink-color;
            background-color: $whitecolor; 
            cursor: pointer; 
            transition: color 0.3s;
            border-radius: 50%;
            display: flex;
            align-items: center; 
            justify-content: center;  
            padding: 10px; 
            width: 30px; 
            height: 30px; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); 
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .avatar-input {
            display: none; 
        }

        .avatar {
            width: 120px;
            height: 128px;
            border-radius: 50%;
            border: 2px solid white;
            object-fit: cover;
        }

        .profile__img {
            width: 80px;
            height: 80px;
            background-color: $pink-color; 
            color: white;
            border-radius: 50%;
            display: flex; 
            align-items: center; 
            justify-content: center;  
            font-size: 1.5em; 
            font-weight: bold; 
        }
    }

    .welcome-profile {
        font-size: 20px;
        color: $color-black;
        text-align: left; 
        margin: 0; 
        font-weight: 400;
        strong {
            font-weight: 700; 
          }
    }

    .navlink {
        display: flex; 
        align-items: center; 
        text-decoration: none; 
        color: $blackcolor; 
        margin: 5px 0; 
    }

    .button_return,
    .button_logout {
        font-size: 20px;
        line-height: 150%;
        cursor: pointer;
        width: 100%;
        text-align: left; 
          
    }


    .button_return img, .button_logout img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      
}

