@import "../../style/template.scss";
@import "../../style/vars.scss";

.container_main {
  @include background;
  min-height: 90vh;
  font-family: $fontSans;

  .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 87px 0;

    .home__intro {
      display: flex;
      align-items: center;


      .cat__arrow {
        padding-left: 40px;
        max-height: 110px;
      }

      .cat__withlaptop {
        max-height: 230px;
      }

      .cat {
        width: 30vw;
        margin-left: 10px;
      }
    }

    .welcome__title {
      background-color: $white-color;
      padding: 29px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      border: 1px solid $pink-color;
      border-radius: 60px;
      width: 39vw;

      .welcome__text {
        font-size: 11pt;
        line-height: 150%;
        color: $color-black;
      }

      h1 {
        font-size: 28px;
        margin: 0;
        color: $pink-color;
        line-height: 46px;
      }

      h1::after {
        content: "";
        background-image: url("../../assets/images/lines.png");
        display: inline-block;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        position: relative;
        top: -2vh;
      }
    }

    .grade {
      background: $white-color;
      box-shadow: 7px 21px 49px 0px #9e9e9e1a, 28px 84px 89px 0px #9e9e9e17,
        64px 190px 120px 0px #9e9e9e0d, 114px 337px 142px 0px #9e9e9e03,
        178px 527px 156px 0px #9e9e9e00;
      padding: 24px 32px;
      border-radius: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 42vh;
      margin-top: 30px;

      h2 {
        color: $pink-color;
        margin: 0;
        font-size: 28px;
        font-weight: bold;
      }
        p {
          font-size: 11pt;
          line-height: 150%;
          color: $color-black;
        }

      }
    }
  }

  .home__button {
    @include button__pink;
  }

  .home__button:hover {
    background: $grey;
  }


@media only screen and (min-width: 1919px) {
  .home {

    .home__intro {
      display: flex;
      align-items: start;
    }

    .cat__withlaptop {
      max-height: 321px;
    }
  }

@media (max-width: 1560px) {
  .container_main {
    .home {
      .welcome__title {
        .welcome__text {
          font-size: 16px;
        }
      }


      .grade {
        p {
          font-size: 15px;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .container_main {
      .home {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .cat__arrow,
        .cat {
          display: none;
        }
      }

      .welcome__title {
        padding: 36px;
        min-height: auto;

        .welcome__text {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1025px) and (min-width: 429px) {
  .container_main {
    .home {
      .welcome__title {
        min-width: 96vw;

        h1 {
          font-size: 26px;
        }

        h1::after {
          top: -1.5vh;
        }
      }

      .grade {
        min-height: auto;
        padding: 28px;
        gap: 16px;
      }
    }
  }
}

@media #{$Mobile} {
  .container_main {
    background-color: $background-beige;

    .home {
      .welcome__title {
        padding: 18px;
        gap: 6px;
        border-radius: 30px;
        min-width: 93vw;

        .welcome__text {
          font-size: 14px;
        }

        h1 {
          font-size: 22px;
        }

        h1::after {
          content: "";
          background-size: 18px 18px;
          width: 18px;
          height: 18px;
          top: -1vh;
        }
      }

      .grade {
        min-height: auto;
        border-radius: 30px;
        padding: 18px;
        gap: 8px;

        h2 {
          font-size: 22px;
        }
      }
    }
  }
}
}