@import "../../style/template.scss";
@import "../../style/vars.scss";

.container_main {
  @include background;
  min-height: 90vh;
  font-family: $fontSans;

  .home {
    display: flex;
    flex-direction: column;
    padding: 40px 87px 0;

    .home__intro {
      display: flex;
      align-items: start;

      .cat__arrow {
        padding-left: 40px;
        max-height: 120px;
      }

      .cat__withlaptop {
        max-height: 260px;
      }
    }

    .welcome__title {
      background-color: $white-color;
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      border: 1px solid $pink-color;
      border-radius: 60px;
      max-width: 49vw;
      min-height: 24vh;

      .welcome__text {
        font-size: 16px;
        line-height: 150%;
        color: $color-black;
      }

      h1 {
        font-size: 28px;
        margin: 0;
        color: $pink-color;
      }

      h1::after {
        content: "";
        background-image: url("../../assets/images/lines.png");
        display: inline-block;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        position: relative;
        top: -2vh;
      }
    }

    .grade-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      gap: 5vw;

      .grade {
        background: $white-color;
        box-shadow: 7px 21px 49px 0px #9e9e9e1a,
          28px 84px 89px 0px #9e9e9e17,
          64px 190px 120px 0px #9e9e9e0d,
          114px 337px 142px 0px #9e9e9e03,
          178px 527px 156px 0px #9e9e9e00;
        padding: 24px 32px;
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 42vh;

        h2 {
          color: $pink-color;
          margin: 0;
          font-size: 28px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          line-height: 150%;
          color: $color-black;
        }
      }
    }
  }

  .home__button {
    @include button__pink;
  }

  .home__button:hover {
    background: $grey;
  }
}

@media only screen and (min-width: 1919px) {
  .home {
    .home__intro {
      display: flex;
      align-items: start;
    }

    .cat__withlaptop {
      max-height: 321px;
    }
  }

  .welcome__title {
    .welcome__text {
      font-size: 18px;
    }
  }
}

@media (max-width: 1025px) {
  .container_main {
    .home {
      display: flex;
      flex-direction: column;
      padding: 16px;

      .cat__arrow,
      .cat__withlaptop {
        display: none;
      }
    }

    .welcome__title {
      padding: 36px;
      min-height: auto;

      .welcome__text {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1025px) and (min-width: 429px) {
  .container_main {
    .home {
      .welcome__title {
        min-width: 96vw;

        h1 {
          font-size: 26px;
        }

        h1::after {
          top: -1.5vh;
        }
      }

      .grade-container {
        padding-top: 30px;
        gap: 3vw;

        .grade {
          min-height: auto;
          padding: 28px;
          gap: 16px;
        }
      }
    }
  }
}

@media #{$Mobile} {
  .container_main {
    background-color: $background-beige;

    .home {
      .welcome__title {
        padding: 18px;
        gap: 6px;
        border-radius: 30px;
        min-width: 93vw;

        .welcome__text {
          font-size: 14px;
        }

        h1 {
          font-size: 22px;
        }

        h1::after {
          content: "";
          background-size: 18px 18px;
          width: 18px;
          height: 18px;
          top: -1vh;
        }
      }

      .grade-container {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .grade {
          min-height: auto;
          border-radius: 30px;
          padding: 18px;
          gap: 8px;

          h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
