@import "../../style/template.scss";
@import "../../style/vars.scss";
@import "../../index.scss";

.codetrainer__check {
    background-color: $color-grey-button;
    border: none;
    font-size: 16px;
    padding: 0 70px;
    height: 52px;
    border-radius: 50px;
    color: $white-color;
    position: absolute;
    top: 12vh;
    right: 4.5vw;
}
.cm-editor,
.cm-scroller {
    padding: 16px;
    border-radius: 60px;
}