@import "../../style/template.scss";
@import "../../style/vars.scss";

.gradingSecond__main {
  display: flex;
  flex-direction: column;
  padding: 40px 87px 0;
}
        h1 {
          font-size: 28px;
          margin: 0;
          color: $pink-color;

        }
  
        h1::after {
          content: "";
          background-image: url("../../assets/images/lines.png");
          display: inline-block;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
          position: relative;
          top: -2vh;

        }
  
  
          h2 {
            color: $pink-color;
            margin: 0;
            font-size: 28px;
            font-weight: bold;

          }
  
          p {
            font-size: 14px;
            line-height: 150%;
            color: $color-black;

          }