@import '../../style/vars.scss';
@import '../../style/template.scss';

.card__container {
    display: flex;
    align-items: center;
    justify-content: center;

    .card-wrapper {
        width: 876px; //691px
        height: 692px; //563px
        padding-top: 100px;
        //display: flex;
        /// flex-direction: column;
        // align-items: center;
        border: 1px solid $pink-color;
        border-radius: 28px;
        background-color: $white-color;

        @media screen and (max-width: 1440px) {
            width: 691px; //691px
            height: 563px;
            padding-top: 50px;
        }
       

        .card-question {
            max-width: 651px;
            padding-left: 125px;

            @media screen and (max-width: 1440px) {
                padding-left: 83px;
               
            }
            
            .question {
                //max-width: 565px;
                width: 100%;
                margin-bottom: 46px;
                font-family: $font;
                font-weight: 800;
                font-size: 20px;

            }
        }

        .answer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .answers-list {
                width: 629px;
                @media screen and (max-width: 1440px) {
                    width: 530px; //691px
                   
                }
                
               

                .answer {
                    display: flex;
                    align-items: center;



                    .radio-input {
                        // display: block;
                        appearance: none;
                        width: 32px;
                        height: 32px;
                        background-image: url("../../../assets/empty-circle.svg");
                        background-repeat: no-repeat;
                    }

                    .radio-input:checked {
                        appearance: none;
                        width: 32px;
                        height: 32px;
                        background-image: url("../../../assets/full-circle.svg");
                        background-repeat: no-repeat;
                    }

                    .red-img:checked {
                        appearance: none;
                        width: 32px;
                        height: 32px;
                        background-image: url("../../../assets/red-full-circle.svg");
                        background-repeat: no-repeat;
                    }

                    .green-img:checked {
                        appearance: none;
                        width: 32px;
                        height: 32px;
                        background-image: url("../../../assets/green-full-circle.svg");
                        background-repeat: no-repeat;
                    }

                    .answer-text {
                        display: block;
                        max-width: 551px;
                        width: 100%;
                        height: 41px;
                        padding-left: 46px;
                        font-family: $font;
                        font-weight: 400;
                        font-size: 18px;
                       
                    }
                }

                .answer:not(:last-child) {
                    margin-bottom: 47px;

                    @media screen and (max-width: 1440px) {
                        margin-bottom: 37px;
                       
                    }
                }

                .answer:last-child {
                    margin-bottom: 100px;
                    @media screen and (max-width: 1440px) {
                        margin-bottom: 53px;
                       
                    }
                }

            }
        }
    }

    .card-button {
        text-align: center;

        .card-btn,
        .btn-result,
        .card-btnDisabled {
            width: 442px;
            height: 60px;
            border-radius: 50px;
            border: none;

            font-family: "Jost", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $white-color;
        }

        .card-btn {
            background-color: $pink-color;
        }

        .card-btnDisabled {
            background-color: $graycolor;
        }

        .btn-result {
            background-color: $color-green;
        }
    }
}

.red {
    color: $red;
}

.green {
    color: $color-green;
}