.profile__forms__container {
  display: flex;
  flex-direction: column;

  .profile__forms__heading {
    color: #3C3C3C;
    padding-top: 2.08333333333vw; // 40px;
    padding-left: 2.08333333333vw; // 40px;
    margin-bottom: 2.08333333333vw; // 40px;
  }

  .profile__forms {
    display: flex;
    column-gap: 1.77083333333vw; // 34px;
    justify-content: center;
    padding-left: 2.08333333333vw; // 40px;
  }
}
