@import "../../style/template.scss";
@import "../../style/vars.scss";

.block__button {

    display: flex;
    flex-direction: column;
    gap: 15px;

}
.button {
    @include button__pink;
}
.button_startOver {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: underline;
    color: $pinkcolor;
    background: transparent;
}

.progressBar__outer {
    width: 100%;
    background: $background-beige;
}

.progressBar__inner {
    background: $pink-color;
    width: 0; 
    transition: width 0.5s; 
}

@media only screen and (min-width: 1919px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 1025px) and (min-width: 429px) {

}

@media #{$Mobile} {

}