.autotests {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4vh 4.5vw;
  gap: 57px;
  position: relative;
}
@media ((max-width: 670px)) {
  .autotests {
    padding: 3vh 4.5vw;
  }
}

@media ((max-width: 670px)) {
  .autotests {
    gap: 30px;
  }
}