* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__login {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1c20;
}

.container__login .wrapper__login {
  text-align: center;
}

.container__login .wrapper__login .title__login {
  margin-bottom: 38px;
  font-size: 48px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 500;
  color: #ea5d80;
}

@media screen and (max-width: 1368px) {
  .container__login .wrapper__login .title__login {
    font-size: 40px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 1240px) {
  .container__login .wrapper__login .title__login {
    font-size: 40px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .title__login {
    font-size: 37px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .title__login {
    font-size: 26px;
    margin-bottom: 32px;
  }
}

.container__login .wrapper__login .form-login__authorisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__login .wrapper__login .form-login__authorisation .form-login__input {
  width: 442px;
  height: 62px;
  padding-left: 23px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #777777;
  outline: none;
}

@media screen and (max-width: 1368px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input {
    width: 390px;
    height: 55px;
    font-size: 20px;
    padding-left: 23px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input {
    width: 350px;
    height: 52px;
    font-size: 20px;
    padding-left: 23px;
    border-radius: 18px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input {
    width: 280px;
    height: 44px;
    font-size: 16px;
    padding-left: 22px;
  }
}

.container__login .wrapper__login .form-login__authorisation .form-error {
  margin-top: -12px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  font-size: 16px;
  color: red;
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-error {
    font-size: 13px;
  }
}

.container__login .wrapper__login .form-login__authorisation .form-usererror {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  color: red;
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-usererror {
    font-size: 13px;
  }
}

.container__login .wrapper__login .form-login__authorisation .form-login__input:not(:last-of-type) {
  margin-bottom: 12px;
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.container__login .wrapper__login .form-login__authorisation .form-login__input:last-of-type {
  margin-bottom: 52px;
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input:last-of-type {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input:last-of-type {
    margin-bottom: 32px;
  }
}

.container__login .wrapper__login .form-login__authorisation .form-login__input::placeholder {
  font-family: "M PLUS Rounded 1c";
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input::placeholder {
    font-size: 20px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .form-login__input::placeholder {
    font-size: 16px;
  }
}

.container__login .wrapper__login .form-login__authorisation .enter__login .btn__login {
  width: 442px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 50px;
  border: none;
  font-family: "M PLUS Rounded 1c";
  font-weight: 500;
  font-size: 20px;
  background-color: #ea5d80;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1368px) {
  .container__login .wrapper__login .form-login__authorisation .enter__login .btn__login {
    width: 390px;
    height: 55px;
    font-size: 20px;
  }
}

@media screen and (max-width: 980px) {
  .container__login .wrapper__login .form-login__authorisation .enter__login .btn__login {
    width: 350px;
    height: 52px;
    font-size: 20px;
  }
}

@media screen and (max-width: 435px) {
  .container__login .wrapper__login .form-login__authorisation .enter__login .btn__login {
    width: 280px;
    height: 44px;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.container__login .wrapper__login .form-login__authorisation .create-acc__option {
  margin-bottom: 10px;
}

.container__login .wrapper__login .form-login__authorisation .create-acc__option a {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.container__login .wrapper__login .form-login__authorisation .reset-password__option a {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}