@import "../../style/template.scss";
@import "../../style/vars.scss";

.theory{ 
  &__page{
    padding-top: 3%;
    font-weight: 500;
    font-style: normal;
    color: $white-color;

    .grad__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
      font-size: 36px;
    }

    .pink__text {
      margin-left: 5%;
      font-size: 16px;
      color: $pink-color;
    }
  }

  &__container{
    height:600px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
  }

  &__list{
    width: 20%;
    height: 200px;
    background-color: $grey;
  }
}

.header__img {
  margin-left: 2%;
  margin-right: 2%;
}

.theory__item {
  color:#3C3C3C;
}

.theory__item__choose {
  color: $pink-color;
}