%font__jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

%button__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 1rem;
  @extend %font__jost;
  color: #FFFFFF;
  background-color: transparent;
}