@mixin flex__center {
  display: flex;
  align-items: center;
}

@mixin background {
  background: $background-beige url("../../assets/images/backgrounnd_stars.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 4vw 13vh;
}

%font__jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

%button__text {
  display: block;
  border: none;
  font-size: 24px;
  @extend %font__jost;
  color: #ffffff;
  background-color: transparent;
}

%flex__center {
  justify-content: center;
  align-items: center;
}

@mixin container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4vh 4.5vw;
}

@mixin stageSubTitlePink {
  font-size: 32px;
  color: $pinkcolor;
  text-decoration: none;
}

@mixin stageSubTitleWhite {
  font-size: 32px;
  color: $whitecolor;
  text-decoration: none;
}

@mixin button__pink {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 46px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: $whitecolor;
  background: $pinkcolor;
}
