$pinkcolor: #ea5d80;
$whitecolor: #ffffff;
$blackcolor: #1b1c20;
$graycolor: #777777;
$darkgreycolor: #282c34;

$background-general: #1b1c20;
$color-grade: #0e0f14;
$white-color: #ffffff;
$pink-color: #ea5d80;
$ligth-grey: #bcbaba;
$grey: #777777;
$ligth-grey: #bcbaba;
$color-green: #00ff47;
$formsignin-fontcolor: #444242;
$formlogin-fontcolor: #444242;
$color_trainer: #282a36;
$color-grey-button: #30333a;
$red: red;
$font: "M PLUS Rounded 1c";
$Mobile: "(max-width: 431px)";
$Tablet: "(max-width: 818px)";
$Desktop: "(min-width: 819px)";
