$pinkcolor: #EA5D80;
$whitecolor: #FFFFFF;
$blackcolor: #1B1C20;
$graycolor: #777777;


$background-general: #1B1C20;
$color-grade:#0E0F14;
$white-color: #FFFFFF;
$pink-color: #EA5D80;
$ligth-grey: #BCBABA;
$grey: #777777;
$ligth-grey: #BCBABA;
$color-green: #00FF47;
$formlogin-fontcolor: #444242;
$red: red;

$font:'M PLUS Rounded 1c';
$Mobile: "(max-width: 431px)";
$Tablet: "(max-width: 818px)";
$Desktop: "(min-width: 819px)";
