@import "../../style/vars.scss";
@import "../../style/template.scss";

.video__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

video {
  width: 100%;
}
.video {
  &__nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    color: $whitecolor;
    background: $pinkcolor;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 4px 24px;
    min-width: 270px;
    text-decoration: none;

    &:hover {
      background: $grey;
    }
  }
}

@media screen and (max-width: 950px) {
  .video__container {
    margin-top: 30px;
    padding: 0;
  }
  .video__wrapper {
    width: 100%;
  }
  .video__button {
    font-size: 8px;
    padding: 4px 12px;
    min-width: 110px;

    & img {
      width: 16px;
    }
  }
}
