.video__container {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 20px;
  align-items: center;
  position: relative;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  padding-bottom: 20px;
}

video {
  width: 100%;
  border-radius: 16px;
}

.video__nav {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: #ffffff;
  background: #ea5d80;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  padding: 4px 24px;
  min-width: 270px;
  text-decoration: none;
}
.video__button:hover {
  background: #777777;
}
.video__button.disabled {
  cursor: unset;
  background: #ea5d80;
}

.bg-image__cat,
.bg-image__star {
  display: block;
}

.bg-image__star {
  position: absolute;
  top: 30px;
  right: 20px;
}

@media screen and (max-width: 950px) {
  .video__container {
    background-color: transparent;
    margin-top: 30px;
    padding: 0;
  }
  .video__wrapper {
    width: 100%;
  }
  .video__button {
    font-size: 8px;
    padding: 4px 12px;
    min-width: 110px;
  }
  .video__button img {
    width: 16px;
  }
  .bg-image__cat,
  .bg-image__star {
    display: none;
  }
}