@import "../../style/vars.scss";
@import "../../style/template.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__wrapper {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;

  &:hover .controls {
    transform: translateY(0%);
  }
}

video {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 2rem;
  padding: 1rem;
  width: 90%;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.725rem;
  transform: translateY(150%);
  transition: all 0.4s ease-in-out;

  &__action {
    @include player__btn;
    & img {
      width: 2rem;
    }
  }

  &__progress {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1.5rem;
    height: 0.5rem;
    width: 60%;
  }

  &__velocity {
    @include player__btn;
    appearance: none;
    color: $background-general;
    text-align: center;
    font-size: 1rem;
  }

  &__mute,
  &__fullscreen {
    @include player__btn;
    & img {
      width: 1.5rem;
    }
  }
}

.video__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: $whitecolor;
    background: $pinkcolor;
    border: none;
    border-radius: 3.25rem;
    font-size: 1.125rem;
    padding: 0.25rem 1.5rem;
    min-width: 17rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .video__wrapper {
    margin-top: 1rem;
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .video__wrapper {
    margin-top: 2rem;
    width: 80%;
  }
  .video__nav {
    & button {
      font-size: 0.5rem;
      padding: 0.25rem 1rem;
      min-width: 8rem;

      & img {
        width: 1rem;
      }
    }
  }
}
