.video__container {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 35px;
  align-items: center;
  position: relative;
  box-shadow: inset 17px 0px 60px 0px rgba(158, 158, 158, 0.25);
}
.video__container video {
  width: 80%;
  aspect-ratio: 16/9;
  background-color: #1b1c20;
  border-radius: 16px;
}
.video__container .video__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}
.video__container .video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: #ffffff;
  background: #ea5d80;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 4px 24px;
  min-width: 200px;
  text-decoration: none;
}
.video__container .video__button:hover {
  background: #777777;
}
.video__container .video__button.disabled {
  cursor: unset;
  background: rgba(234, 93, 128, 0.7);
}
.video__container .bg-image__cat {
  width: 100%;
}
.video__container .bg-image__star {
  position: absolute;
  top: 30px;
  right: 20px;
}

@media screen and (max-width: 950px) {
  .video__container {
    background-color: transparent;
    margin-top: 30px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .video__container .video__button {
    font-size: 8px;
    padding: 4px 12px;
    min-width: 110px;
    margin: 0 20px;
  }
  .video__container .video__button img {
    width: 16px;
  }
  .video__container .bg-image__cat,
  .video__container .bg-image__star {
    display: none;
  }
}