.test {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;
  justify-content: center;
  align-items: flex-start;
}
.test__question {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}
.test__answers {
  font-size: 20px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.test__answer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 46px;
}
.test .radio {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
}
.test .radio:checked {
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/full-circle.svg");
  background-repeat: no-repeat;
}
.test .empty {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/empty-circle.svg");
  background-repeat: no-repeat;
}
.test .red-img {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/red-full-circle.svg");
  background-repeat: no-repeat;
}
.test .green-img {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/green-full-circle.svg");
  background-repeat: no-repeat;
}