.test {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;
  justify-content: center;
  align-items: flex-start;
}
.test__question {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}
.test__answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.test__answer {
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 46px;
}
.test .radio {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
}
.test .radio:checked {
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/images/full-circle.svg");
  background-repeat: no-repeat;
}
.test .empty {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/images/empty-circle.svg");
  background-repeat: no-repeat;
}
.test .red-img {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/images/red-full-circle.svg");
  background-repeat: no-repeat;
}
.test .green-img {
  flex-shrink: 0;
  appearance: none;
  width: 32px;
  height: 32px;
  background-image: url("../../assets/images/green-full-circle.svg");
  background-repeat: no-repeat;
}

@media ((max-width: 1025px)) {
  .test {
    gap: 35px;
  }
  .test__answer {
    gap: 35px;
  }
}
@media ((max-width: 670px)) {
  .test {
    gap: 20px;
  }
  .test__answer {
    gap: 20px;
  }
  .test .radio {
    width: 24px;
    height: 24px;
  }
  .test .radio:checked {
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/full-circle-min.svg");
  }
  .test .empty {
    background-image: url("../../assets/images/empty-circle-min.svg");
    width: 24px;
    height: 24px;
  }
  .test .red-img {
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/red-full-circle-min.svg");
  }
  .test .green-img {
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/green-full-circle-min.svg");
  }
}
@media ((max-width: 431px)) {
  .test {
    gap: 20px;
  }
  .test__answer {
    gap: 15px;
  }
  .test__answer {
    font-size: 18px;
    line-height: 22px;
  }
}