@import "../../style/template.scss";
@import "../../style/vars.scss";


.grading__intro {
    display: flex;
    flex-direction: row;

    .grading__intro_block {
        background-color: $white-color;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        border: 1px solid $pink-color;
        border-radius: 60px;
        max-width: 49vw;
        height: 32vh;
        h1 {
            font-size: 28px;
            margin: 0;
            color: $pink-color;
          }
    }
    .cat__junior {
        height: 360px;
        padding-left: 40px;
        margin-top: -10vh;
    }

}
