@import '../../style/vars.scss';
@import '../../style/template.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {

    .slider-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .inner-wrapper {
            width: 691px;
            padding-right: 28px;
            display: flex;
            justify-content: center;
          

            .amount {

                // color: rgb(233, 57, 216);
                .amounts {
                    font-family: $font;
                    font-weight: 500;
                    font-size: 22px;
                    color: $white-color;
                }
            }

           

               


            }
        }

    }





