@import "../../style/template.scss";
@import "../../style/vars.scss";

.error {
    @include background;
    padding: 10vh 6vw;
    display: flex;
    flex-direction: row;
    height: 100vh;
    .error_container {
        @include container;
        h1 {
            @include stageSubTitlePink;
            font-size: 128px;
            line-height: 22px;
            font-family: $fontSans;
        }
        p {
            color: $grey;
            font-size: 32px;
        }
        button {
            @include button__pink;
        }
    }
    .error_image {
        padding-left: 4vw;
        img {
            max-width: 40vw ;
        }
    }
}

@media (max-width: 1025px) {

}

@media #{$Tablet} {
    .error {
        justify-content: center;
        padding: 23vh 10vw;
        .error_container {
            gap: 0;
            p {
                font-size: 20px;
                padding-bottom: 5vh;
            }
        }
        .cat_error {
            margin-top: 5vh;
        }
    }
    
}

@media #{$Mobile} {
    .cat_error {
        display: none;
    }
    .error {
        padding: 10vh 6vw 20vh 6vw;
        .error_container{
            gap: 20px;
            p {
                font-size: 16px;
            }
        }
    }
}